<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:f="http://java.sun.com/jsf/core">
    <body>
        <ui:composition template="./skeleton.xhtml">
            <ui:define name="content">
                <h:panelGrid columns="1">
                    <h:outputText value="#{poisBean.choosenPoi ne null ? poisBean.choosenPoi.description : ''}" />
                    <h:graphicImage value="#{poisBean.url}" rendered="#{poisBean.url ne null}" />
                </h:panelGrid>

                <h3>Choose point of interest to be shown on the map:</h3>
                <h:form>
                    <h:dataTable value="#{poisBean.pois}" var="poi">
                        <h:column>
                            <h:commandLink value="#{poi.description}" action="#{poisBean.recreateGoogleMapsURL(poi)}" />
                        </h:column>
                    </h:dataTable>
                </h:form>
            </ui:define>
        </ui:composition>
    </body>
</html>
