<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:f="http://java.sun.com/jsf/core">
    <body>
        <ui:composition template="./skeleton.xhtml">
            <ui:define name="content">

                <h3>REST Services:</h3>
                <h:form>
                    <h:panelGrid columns="5" cellspacing="15">
                        <h:outputText value="Method"/>
                        <h:outputText value="URI"/>
                        <h:outputText value="Input Parameters"/>
                        <h:outputText value="Output"/>
                        <h:outputText value="Description"/>

                        <h:outputText value="PUT"/>
                        <h:outputText value="/services/newpoi"/>
                        <h:outputText value="x = [x coordinate]; y = [y coordinate]; description = [description of the poi]"/>
                        <h:outputText value="The newly created point of interest"/>
                        <h:outputText value="Stores coordinates annotated with discription"/>

                        <h:outputText value="GET"/>
                        <h:outputText value="/services/mypoiall"/>
                        <h:outputText value="-"/>
                        <h:outputText value="List of all POI-s"/>
                        <h:outputText value="Returns all POI-s with their ID-s"/>

                        <h:outputText value="GET"/>
                        <h:outputText value="/services/mypoi/{poiId}"/>
                        <h:outputText value="id= [identificator of poi]"/>
                        <h:outputText value="The POI with the given ID"/>
                        <h:outputText value="Returns the POI with the provided ID"/>

                        <h:outputText value="GET"/>
                        <h:outputText value="/services/mypoi"/>
                        <h:outputText value="x = [x coordinate]; y = [y coordinate]"/>
                        <h:outputText value="The closest 5 POI-s are returned"/>
                        <h:outputText value="Returns the closest 5 POI-s with their IDs"/>

                        <h:outputText value="DELETE"/>
                        <h:outputText value="/services/mypoi/{poiId}"/>
                        <h:outputText value="id = [identificator of poi]"/>
                        <h:outputText value="-"/>
                        <h:outputText value="Deletes point of interest by id"/>

                    </h:panelGrid>
                </h:form>
            </ui:define>
        </ui:composition>
    </body>
</html>
