<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:h="http://java.sun.com/jsf/html">
    <h:head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
        <title>Geeky Points of Interest</title>
        <link href="./css/style.css" rel="stylesheet" type="text/css" />
    </h:head>
    <h:body>
        <div id="head">
            <div id="title">
                Geeky Points of Interest
            </div>
            <div id="menu">
                <h:form>
                    <ul>
                        <li>
                            <h:link value="Services" outcome="services.xhtml" />
                        </li>
                        <li>
                            <h:link value="All Places" outcome="pois.xhtml" />
                        </li>
                    </ul>
                </h:form>
            </div>
        </div>
        <div id="body_wrapper">
            <div id="body">
                <div id="all">
                    <div class="top"></div>
                    <div id="left">
                        <div class="content">
                            <ui:insert name="content">Content</ui:insert>
                        </div>
                    </div>
                    <div class="clearer"></div>
                    <div class="bottom"></div>
                </div>
                <div class="clearer"></div>
            </div>
            <div class="clearer"></div>
        </div>
        <div id="end_body"></div>
        <div id="footer">
            &copy; Copyright <a href="mailto:n.nikolova@sap.com">Nina Nikolova</a> 2012
        </div>
    </h:body>
</html>
